@import "components/c-menu.styl"
@import "components/c-loading.styl"

.s-header
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

.s-header__logo
    height: 100%;
    width: 50%;
    cursor: pointer;