<!DOCTYPE html>
include ./common/header.pug
block content
    input(type="text", name="", id="inp")
    
    include ./common/body.pug
    include ./components/c-modal.pug

    include ./template/index/tlp-loading.pug
    include ./template/index/tlp-form.pug
    include ./template/index/tlp-listUser.pug
    //- script(src="../assets/js/ES6.js")
    script(src="../assets/ts/main.js")

