<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../assets/css/style.css")
        link(rel="stylesheet", href="../assets/css/popup.css")
        title Crud Java Script
    body
        .grilla-users
            .form-header
                span User
                span Password
                span Name
                span Last Name
                span Update
                span Delete
            .list-users.list

        .btn-add-user
            img(src="http://pngimage.net/wp-content/uploads/2018/05/boton-agregar-png-2.png", alt="", srcset="")

        .external-box.hide
            .parent-box
                .children-box
                    .internal-box
                        .image
                            img.close-modal(src="https://image.flaticon.com/icons/png/512/13/13725.png", alt="", srcset="")
                        .center-box
        
        .form-user.add.hide
            h1 Add User
            .input-form
                label(for="") User :
                input.user(type="text" )
            .input-form
                label(for="") Password :
                input.password(type="text" )
            .input-form
                label(for="") Name :
                input.name(type="text" )
            .input-form
                label(for="") Last Name :
                input.last-name(type="text" )
            .buttons-form-user
                button.save-user Add
                button.close-modal Close

        .form-user-update.hide
            h1 Update User
            .input-form
                label(for="") User :
                input.user(type="text" )
            .input-form
                label(for="") Password :
                input.password(type="text" )
            .input-form
                label(for="") Name :
                input.name(type="text" )
            .input-form
                label(for="") Last Name :
                input.last-name(type="text" )
            .buttons-form-user
                button.update-user Update
                button.close-modal Close

        .efectLoading.hide
            .loading
                .circle-parent
                    .circle-child

        script(src="https://code.jquery.com/jquery-1.12.4.min.js" ,crossorigin="anonymous")
        script(src="../assets/js/main.js")