<!DOCTYPE html>
include ./common/header.pug
block content
    
    include ./common/body.pug
    include ./components/c-modal.pug

    include ./template/index/tlp-loading.pug
    include ./template/index/tlp-form.pug
    include ./template/index/tlp-listUser.pug   
    //- script(src="../assets/js/ES6.js")
    script(src="../assets/ts/bundle.js")

