<!DOCTYPE html>
include ./common/header.pug
block content
    input(type="text", name="", id="inp")
    
    include ./common/body.pug
    include ./components/c-modal.pug

    include ./template/index/loading.pug
    include ./template/index/form.pug
    include ./template/index/listUser.pug
    script(src="../assets/js/ES6.js")

