<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../assets/css/style.css")
        link(rel="stylesheet", href="../assets/css/popup.css")
        title Crud Java Script
        script(src="https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    body
        .crud
            h1.title CRUD JAVASCRIPT
            .grilla-users
                .form.header
                    span Category
                    span Title
                    span Completed
                    //- span Last Name
                    span Update
                    span Delete
                .list-users.list

            .add-user(accion="add")
                img.btn-add-user(src="http://pngimage.net/wp-content/uploads/2018/05/boton-agregar-png-2.png", alt="", srcset="")

        .external-box.hide
            .parent-box
                .children-box
                    .internal-box
                        .image
                            img.close-modal(src="https://image.flaticon.com/icons/png/512/13/13725.png", alt="", srcset="")
                        .center-box

        .efectLoading.hide
            .loading
                .circle-parent
                    .circle-child

        script(type="text/template", id="template-setUsers")
            .form-user.add
                h1 <%= tmpTitle %>
                .input-form
                    label(for="") User :
                    input.category(type="text" )
                .input-form
                    label(for="") Password :
                    input.title(type="text" )
                .input-form
                    label(for="") Name :
                    input.completed(type="text" )
                .buttons-form-user
                    button.save-user <%= tmpBtn %>
        script(type="text/template", id="template-listUsers")
                <% users.forEach((user,index)=>{ %>
                    .form   
                        span <%= user.userId%> 
                        span <%= user.title.split(' ')[1] %>
                        span <%= user.completed %>
                        span
                            img.btn-update-user(data-id!='<%=user.id%>', src="https://icon-icons.com/icons2/215/PNG/256/edit-validated256_25237.png", alt="", srcset="")
                        span
                            img.btn-delete-user(data-id!='<%=user.id%>', src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-4/256/Open-Folder-Delete-icon.png", alt="", srcset="")
                <% }) %>
        script(src="../assets/js/main.js")

