<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../assets/css/style.css")
        link(rel="stylesheet", href="../assets/css/popup.css")
        title Crud Java Script
        script(src="https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    body
        .grilla
            h1.grilla__title CRUD JAVASCRIPT
            .grilla__users
                .grilla__contentItems
                    span.grilla__item Category
                    span.grilla__item Title
                    span.grilla__item Completed
                    span.grilla__item Update
                    span.grilla__item Delete
                .grilla__listUser

            div
                img.grilla__btnAddUser(src="http://pngimage.net/wp-content/uploads/2018/05/boton-agregar-png-2.png", alt="", srcset="")

        .popUp.hide
            .popUp__parentBox
                .popUp__childrenBox
                    .popUp__internalBox
                        .popUp__image
                            img.popUp__closeModal(src="https://image.flaticon.com/icons/png/512/13/13725.png", alt="", srcset="")
                        .popUp__centerBox

        .loading.hide
            .loading__content
                .loading__circleParent
                    .loading__circleChild

        script(type="text/template", id="template-setUsers")
            .form
                h1 <%= tmpTitle %>
                .form__inputForm
                    label(for="") User :
                    input.category(type="text" )
                .form__inputForm
                    label(for="") Password :
                    input.title(type="text" )
                .form__inputForm
                    label(for="") Name :
                    input.completed(type="text" )
                .form__contentBtnAddUser
                    button.form__saveUser <%= tmpBtn %>
        script(type="text/template", id="template-listUsers")
                <% users.forEach((user,index)=>{ %>
                    .grilla__contentItems   
                        span.grilla__item <%= user.userId %> 
                        span.grilla__item <%= user.title.split(' ')[0,1] %>
                        span.grilla__item <%= user.completed %>
                        span.grilla__item
                            img.grilla__btnUpdateUser(data-id!='<%=user.id%>', src="https://icon-icons.com/icons2/215/PNG/256/edit-validated256_25237.png", alt="", srcset="")
                        span.grilla__item
                            img.grilla__btnDeleteUser(data-id!='<%=user.id%>', src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-4/256/Open-Folder-Delete-icon.png", alt="", srcset="")
                <% }) %>
        script(src="../assets/js/main.js")

