

.s-listRandom
    width: 1000px
    display: flex;
    flex-flow: row wrap;
    margin: 70px auto 0 auto   


.c-listRandom__item
    width: 50%
    display: flex
    padding: 20px

.c-listRandom__image
    width 35%

.c-listRandom__image-img
    height: 100%

.c-listRandom__info
    width: 65%
    height 100%
    margin-top: 15px

.c-listRandom__info-text
    font-family: Courgette
    display: block
    margin-bottom: 7px