.grid
    margin-top: 40px

.grid__title
    text-align: center
    letter-spacing: 2px

.grid__users
    display: block
    margin 50px auto
    width 700px
    
.grid__items
    background-color: gray
    display: flex
    justify-content: space-around
    align-items: center
    padding-bottom: 20px

.grid__item
    width: 70px
    text-align: center
    img
        width 25px  
        cursor pointer
        
.grid__btn-add
    width: 40px
    height 40px
    display: block
    margin: 0 auto
    margin-top: 40px
    cursor pointer
    
.is_hide
    display none

.form
    padding: 10px 15px

.form__title
    letter-spacing: .5px
    margin-bottom: 25px
    text-align: center

.form__inputs
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    label
        font-size: .9em
    input
        border-radius: 3px
        height 23px
        &:focus
            outline: none

.form__btn
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: 15px
    
.form__btn-save
    margin-top: 10px 
    width: 80px
    height : 30px
    background-color: black
    color: white
    border: none
    border-radius: 3px
    cursor pointer
