.modal
    background-color rgba(0, 0, 0, .5)
    bottom 0    
    left 0
    overflow auto
    position fixed
    right 0
    top 0
    z-index 100

.modal__parent
    display table
    height 100%
    width 100%

.modal__children
    display table-cell
    vertical-align middle

.modal__internal
    position relative
    width 350px
    height auto
    margin 0 auto
    box-shadow: 2px 2px 2px
    z-index 999

.modal__image
    width 10px
    margin-right: 0px
    z-index 1000
    position absolute
    right 5px
    top 0px
    img
        width 100%
        cursor pointer

.modal__center
    background #fff
    margin 0 auto
    position relative
    padding 20px 20px
    border-radius: 4px
                    






        
