.js-modal.c-modal.is_hide
    .c-modal__parent
        .js-modal-wrap.c-modal__wrap
            .c-modal__internal
                .c-modal__close
                    img.js-modal-close.c-modal__btn-close(src="https://image.flaticon.com/icons/png/512/13/13725.png", alt="", srcset="")
                .js-modal-center.c-modal__center




