.c-form
    padding: 10px 15px

.c-form__title
    letter-spacing: .5px
    margin-bottom: 25px
    text-align: center

.c-form__wrap
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    label
        font-size: .9em
    input
        border-radius: 3px
        height 23px
        &:focus
            outline: none

.c-form-error
    color: red;
    font-weight: bold;

.c-form__wrap-radio
    display: flex
    justify-content: space-between
    align-items: center
    width: 165px
    margin: 0 auto;

.category
    width: 200px

.c-form__wrap-combo
    text-align: center
    width: 200px

.c-form__btn
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: 15px
    
.c-form__btn-save
    margin-top: 10px 
    width: 80px
    height : 30px
    background-color: black
    color: white
    border: none
    border-radius: 3px
    cursor pointer
