.c-grid__users
    display: block
    margin 50px auto
    width 700px
    transition: '1s'
    
.c-grid__items
    background-color: gray
    display: flex
    justify-content: space-around
    align-items: center
    padding: 20px 0px

.c-grid__item
    width: 70px
    text-align: center
    img
        width 25px  
        cursor pointer