html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Courgette")
        link(rel="stylesheet", href="../assets/css/style.css")
        link(rel="stylesheet", href="../assets/css/popup.css")
        link(rel="stylesheet", href="../assets/css/historia.css")
        link(rel="stylesheet", href="../assets/css/index.css")
        title Crud Javascript
        script(src="https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)")
        script(src="https://cds.neoauto.g3c.pe/neoauto3/js/dist/libs/yosonjs/dist/yoson.min.js?20181022221402")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    body
        include ../sections/s-header.pug