.e-btn-add
    width 50px
    background orange
    border none
    border-radius 50%
    height 50px
    font-size 35px
    color white
    margin 0 auto
    display flex
    align-items center
    justify-content center
    cursor pointer
    outline: none