script(type="text/template", id="template-Form")
    .c-form
        h1.c-form__title <%= Title %>
        .c-form__wrap
            label(for="") Category :
            .c-form__wrap-combo
                select.js-category.category
                    each variable in [{id :0 ,val :'Selecione' },{id :1,val :'New'},{id :2, val: 'Old'}]
                        option.js-form__combo(value=variable.id) #{variable.val}
        .c-form__wrap
            label(for="") Full Name :
            input.js-full-name(type="text" )
        .c-form__wrap
            label(for="") Age :
            input.js-age(type="text" )
        .c-form__wrap
            label(for="") Completed :
            .c-form__wrap-radio
                label(for="") True :
                input.js-completed(type="radio" id="true" name="completed" value="true" required )
                label(for="") False :
                input.js-completed(type="radio" id="false" name="completed" value="false" required )
        .c-form__wrap
            p.js-error.c-form-error
        .c-form__btn
            button.js-form-btn-save.c-form__btn-save <%= Button %>