script(type="text/template", id="template-listUsers")
    <% data.forEach((user,index)=>{ %>  
        .c-grid__items
            span.c-grid__item <%= user.category %> 
            span.c-grid__item <%= user.name %>
            span.c-grid__item <%= user.age %>
            span.c-grid__item <%= user.completed %>
            span.c-grid__item
                img.js-btn-update.c-grid__btn-update(data-id!='<%=user.id%>', src="https://icon-icons.com/icons2/215/PNG/256/edit-validated256_25237.png", alt="", srcset="")
            span.c-grid__item
                img.js-btn-delete.c-grid__btn-delete(data-id!='<%=user.id%>', src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-4/256/Open-Folder-Delete-icon.png", alt="", srcset="")
    <% }) %>